:root {
  --primary-color: hsl(12, 88%, 59%);
  --bg-color: hsl(0, 0%, 100%);
  --heading-color: hsl(228, 39%, 23%);
  --text-color: hsl(227, 12%, 61%);
  --dark-blue: hsl(233, 12%, 13%);
  --pale_red: hsl(13, 100%, 96%);
  --gray: hsl(0, 0%, 98%);
}
